$white: white;

$background-light: #f4f4f4;
$background-dark: #6c67c9;
$background-footer: #2d3747;

$text-light: $white;
$text-dark: #333;
$text-midtone: #718096;
$text-summary: #276749;
$text-footer: #cbd5e0;

$btn-main: $background-dark;
$btn-secondary: #47ba77;

$card-border-header: #e2e8f0;
$card-summary-border-header: #c6f6d5;
$card-summary-background: #f0fff4;
$card-summary-border: #c6f6d5;
$card-summary-border-left: #48bb78;

$form-group-border: #cbd5e0;
$form-group-border-focus: #667eea;

$list-item-background: #f7fafc;
$list-item-border-left: #667eea;
$list_item-summary-border-left: #48bb78;