.container {
  margin: 0 auto;
  max-width: 600px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid black;
  max-width: 1000px;
  margin: 10px auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.product-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.products {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}