.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid black;
  max-width: 1000px;
  margin: 0 auto;
}

.card-title {
  text-align: center;
}

.user {
  padding: 1rem;
  margin: .5rem;
  border-radius: 10px;
  border: 2px solid black;
}

.user:hover {
  cursor: pointer;
  background-color: #eee;
}

.user-title {
  font-weight: bold;
  text-align: center;
}

.btn {
  border-radius: 10px;
  width: fit-content;
  padding: 1rem 1rem;
  font-size: 1rem;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.6;
}